body{
    background: #87ceeb3d;
}
.navbar-brand{
    margin-left: 50%;
}
.navbar-collapse{
    margin-right: 5%;
}
.nav-item{
    font-size: 18px;
    margin-right: 5%;
}
@media screen and (max-width: 990px) {
    .navbar-brand{
        font-size: 30px;
        margin-left: 0;
    }
    .navbar-collapse{
        margin-right: 0%;
    }
}